<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:rgb(234, 181, 35)"><%=kindOfDay%>!</h1>
    <!-- <p>Why are you working?</p> -->
    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>serve food</li>
    </ul>
    <form action="/" method="post"  >
        <input type="text" name="new" placeholder="abc">
        <button>Submit</button>
    </form>
</body>
</html> 